streamlit
langchain
langchain-text-splitters
langchain-ollama
langchain-chroma
langchain-core
langchain-community
chromadb
pydantic>=2.7.4
pydantic-settings
pypdf
pdf2image
pytesseract
python-dotenv
requests
pandas
